* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

body {
    background-color: #151517;
    color: #fff;
    font-family: sans-serif;
}

#__next {
    & > div {
        padding: 2.75rem 4.5rem;
    }
}

button,
input[type="submit"] {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 24px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 320ms ease-in-out;
    &:hover {
        background-color:rgba(255,255,255,1);
        color: #151517;
    }
}
select {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 1.21rem;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 7px 1px;
    background-repeat: repeat-x;
    &:focus {
        outline: 0;
    }
}

.show {
    display: block!important;
}
.open::after {
    content: '▲'!important;
}

@media screen and (max-width: 500px) {
    #__next > div {
        padding: 1.75rem 1.75rem;
    }  
}