.header {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    div {
        cursor: pointer;
    }
}
