.questions {
    max-width: 48rem;
    margin: auto;
    display: grid;
    grid-template-columns: 9rem 1fr;
    column-gap: 2rem;
    & > div:last-of-type {
        display: grid;
        grid-template-rows: auto;
        row-gap: 4.75rem;
        height: fit-content;
    }
}
.actions {
    position: relative;
    top: -5.75rem;
    width: 100%;
    max-width: 48rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width: 1200px) {
    .actions {
        top: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .questions {
        display: block;
    }   
}