.tags {
    padding-left: 0;
    list-style-type: none;
    display: block;
    margin-bottom: 2rem;
    li {
        background-color: rgba(0, 209, 255, 0.2);
        display: inline-block;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        transition: all ease-in-out 160ms;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 209, 255, 0.5);
        }
    }
}