.topics {
    ul {
        padding-left: 0;
        list-style-type: none;
        li {
            margin: 1rem 0;
            display: block;
            position: relative;
            transition: transform 320ms ease-in-out;
            cursor: pointer;
            &:hover {
                transform:translateX(0.75rem);
            }
        }
    }
}
.active {
    transform: translateX(0.75rem);
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -0.75rem;
        border-left: 3px solid #FF6B00;
    }
}